
 <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Quizz de Fares</span>
    <button mat-icon-button [matMenuTriggerFor]="quizzMenu">
      <mat-icon>arrow_drop_down</mat-icon>
      Quizz
    </button>
    <button mat-icon-button [matMenuTriggerFor]="questionMenu">
      <mat-icon>arrow_drop_down</mat-icon>
      Questions
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #quizzMenu="matMenu">
  <button mat-menu-item routerLink ="/xxx" >Ajouter Quizz</button>
  <button mat-menu-item>Modifier Quizz</button>
  <button mat-menu-item>Passer Quizz</button>
</mat-menu>

<mat-menu #questionMenu="matMenu">
  <button mat-menu-item routerLink ="/questionsList">Modifier Question</button>
  <button mat-menu-item routerLink ="/addQuestion">Ajouter Question</button>
</mat-menu>



 <router-outlet></router-outlet>